numpy
pandas
matplotlib
azure-ai-inference
openai
langchain
langchain-community
langchain-openai
eventlet
flask
seaborn
openpyxl
Flask-SocketIO
flask-cors
dotenv
psycopg2-binary
scipy
tqdm
xgboost
LinearRegression
statsmodels
prophet
pmdarima
scikit-learn
torch
tensorflow
azure-storage-blob
